body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1440px;
    margin: 0 auto;
  }

h1, h2 {
    font-family: Open Sans Condensed, sans-serif;
}

.orange {
    color: #e7581a;
}

.bleue {
    color: #00437a;
}

.logo {
    width: 120px;
    height: auto;
}