<div class="d-flex justify-content-evenly w-100 " id="presentation"> 
    <div class=" col-md-3 col-sm-12 "> 
        <img class="logo" src="{{ asset('build/images/m.png') }}" alt="Marseille"> 
    </div>
    <div class=" col-md-3 col-sm-12 ">
    <h5>« Ne vous contentez plus d’une seule version des faits : 
    prenez l’avantage avec un enquêteur de droit privé, et faites jaillir la vérité ! »</h5>
    </div>
    <div class=" col-md-3 col-sm-12 ">
        <img class="logo" src="{{ asset('build/images/P.png') }}" alt="Paris">
    </div>
</div>